.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.nav-scroller {
    height: inherit !important;
}

.container {
    max-width: 1100px;
}

.lh-condensed {
    line-height: 1.25;
}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1300px !important;
    }
}

div#toast {
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 9999999999999;
}

#caixa-aberto {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2d3436;
}

.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.remover_produto,
.remove-prod-btn {
    cursor: pointer;
}

.icon-lanc {
    width: 34px;
    height: 34px;
    background: darkorchid;
    color: white;
    border-radius: 5px;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon-lanc:hover {
    color: yellow;
}

tr.border-top.my-color {
    background: #f1f1f1;
}

tr.info > th {
    font-weight: 500;
}
